.Calc-container {
  width: 400px;
  height: auto;
  border: 1px solid #d9d9d9;
  margin: 30px auto 0;
  padding: 10px;
  box-sizing: border-box
}
.Calc-screen {
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.Calc-screen__example {
  height: 40%;
  text-align: right;
  font-size: 14px;
  line-height: 20px;
  padding: 0 10px;
  color: #444;
}
.Calc-screen__total {
  border: 1px solid #d9d9d9;
  height: 60%;
  padding: 0 10px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.Calc-keyboard {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  /*border: 1px solid #333;*/
}
.Calc-keyboard__numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 74%;
}
.Calc-keyboard__calculating {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 26%;
}
.Calc-keyboard-button {
  width: 80px;
  height: 50px;
  border: 1px solid #dedede;
  text-align: center;
  line-height: 50px;
  margin-top: 15px;
  font-size: 20px;
  color: #555;
  background: #F3F3F3;
  border-radius: 4px;
}
.Calc-keyboard-button:hover {
  border: 1px solid #b5b5b5;
  cursor: pointer;
  color: #000;
}
.primary-btn {
  background: #498AF3;
  color: #dedede;
}