.Nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.Nav-link {
  display: inline-block;
  margin-right: 30px;
}
.Nav-link a {
  text-decoration: none;
  font-size: 20px;
  color: #333;
  font-weight: 700;
  padding: 0 0 5px;
}
.Nav-link a:hover {
  color: gold;
}